#bg {
    background-color: white;
}

#colorPicker {
    height: 50px;
    width: 80px;
    margin-bottom: 20px;
}

#button {
    border: none;
    outline: none;
    border-radius: 2px;
    color: white;
    background: rgb(115, 216, 0);
    font-size: 19px;
    padding: 6px;
    cursor: pointer;
}